.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  max-width: 400px;
  max-height: 800px;
  margin-top: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 16px;
}
